*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.*.swp

ICD-9-CM_diagnosis_1992.csv
ICD-9-CM_diagnosis_1992.json
ICD-9-CM_diagnosis_2001.csv
ICD-9-CM_diagnosis_2001.json
ICD-9-CM_diagnosis_2001_en.csv
ICD-9-CM_diagnosis_2001_zh.csv
ICD-9-CM_procedure_1992.csv
ICD-9-CM_procedure_1992.json
ICD-9-CM_procedure_2001.csv
ICD-9-CM_procedure_2001.json
ICD-9-CM_procedure_2001_en.csv
ICD-9-CM_procedure_2001_zh.csv
ICD-9-CM_1992.xls
ICD-9-CM_2001-to-ICD-10-CM.xlsx
ICD-9-CM_2001-to-ICD-10-PCS.xlsx
ICD-9-CM_2001.xls
ICD-9-CM.tar.gz
